/* ----------- Contenedor general ----------- */

.product-container {
  padding: 150px;
  max-width: 1200px;
  margin: auto;
  margin-top: -50px;
  font-family: system-ui, sans-serif;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.7rem;
  font-weight: 600;
}

/* ----------- Botones ----------- */

.btn-primary {
  
  background: #3b82f6;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background: #2563eb;
}

.btn-edit {
  background: #6b7280;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit:hover {
  background: #4b5563;
}

.btn-delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete:hover {
  background: #dc2626;
}

.btn-secondary {
  background: #e5e7eb;
  border: none;
  padding: 7px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #d1d5db;
}

/* ----------- Tabla ----------- */

.product-table {
  border: rgb(177, 177, 177) solid 2px;
  width:1200px;
  /* width: 100%; */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: -150px;
}

.product-table th {
  text-align: left;
  font-weight: 600;
  padding: 10px;
  background: #f3f4f6;
}

.product-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.product-img {
  width: 60px;
  height: auto;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 8px;
}

/* ----------- Modal ----------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn .2s ease;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 380px;
  border-radius: 10px;
  animation: scaleIn .25s ease;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-form input,
.modal-form textarea {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 0.9rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}

/* Animaciones suaves */
@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes scaleIn {
  from { transform: scale(.95); opacity: 0; }
}
